@import "../variables";



.about {
    font-family: $font_body;
    color: rgb(90, 90, 90);
}

.about_title {
    margin: auto;
    height: 100px;
    width: 150px;
    text-align: center;
    font-family: $font_title;
    border-bottom: 2px inset $color-primary;
}



.ft {
    margin-top: 8rem;
}

.virginia_perfil {
    width: 100%;
    border-radius: 15px;
}


@media (min-width: 769px) {
    .foto {
        margin-top: 50px;
    }

    .about_title {
        height: 130px;
        width: 170px;
    }

    .about_description {
        background-color: rgb(247, 247, 247);
        border-radius: 10px;
        font-size: 17px;
        text-align: center;
        height: 520px;
    }

    .virginia_perfil{
        border-radius: 10px;
        border-style: inset;
        border-width: 2px;
        width: 80%;
        height: 520px;
        text-align: center;
        margin-top: 0%;
    }
}
