@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Open+Sans:wght@300;400;700&display=swap");

$color-primary: #f2b2b3;
$color-secondary: #b9b9b9;

$font-title: "Lora", serif;
$font-body: "Open Sans", sans-serif;
